.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0,0,0, .2);
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}


.itemLink {
    display: block;
    color: var(--corPrincipal);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--corSecundaria);
}


.itemLink:hover {
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
}